/* .top {
    background: url(images/star.png);
    background-size: repeat;
    padding: 7px 0 5px 0;   
    animation: expand 3s ease-in-out 200ms forwards;
    width: 0;
} */

/* @keyframes expand {
    0% {
      width: 0px; 
    }
    100% {
      width: 100%; 
    }
  } */


/* star bg styles */
.top {
    background: url(images/star.png) repeat-x;
    background-color: #ECF4F6;
    height: 186px;  
    /* padding: 7px 0 5px 0;    */
    position: relative;
    overflow: hidden;
}

/*for rotating stars */
.top::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;  
    height: 100%;
    background: url(images/star.png) repeat-x;
    animation: rotateStars 3s linear infinite;
}


/* animation for rotating stars */
@keyframes rotateStars {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

header {
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-family: "Poppins", serif;
    margin: 30px 0 20px 0;
}

header h2 {
    margin: 0 0 40px 0;
    font-weight: normal;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;  
}

section {
    flex: 1;
    min-width: 200px;  
    padding: 50px; 
    box-sizing: border-box; 
    background-color: #ECF4F6;
}


h2 {
    font-family: "Poppins", serif;
    margin-top: 0;
}

h2:hover {
    font-style: italic;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none
}

ul li a {
    text-decoration: none;
    border-bottom: 1px dashed #000;
    padding-bottom: 0.5px;
    font-family: "Merriweather";
    font-size: 16px;
    color: black;
    text-align: center;
    line-height: 1.5em;
    display: inline-block; 
}

section ul li a:hover {
    color: #564DFF;
    border-bottom: 1px solid #564DFF;
}

footer {
    width: 100%;
    background-color: #ECF4F6;
    padding: 40px;
    text-align: center;
}