.container {
    width: 100%;
    max-width: 600px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.container img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.overlay {
    opacity: 0;
}